* {
  margin: 0;
  padding: 0;
}

body {
 
  background: linear-gradient(45deg, orange, red, green);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;

}

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }

}

/*header y narbar, h1 y h2*/

header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid gray;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 5px;

}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
  color: lightgray; /* Cambiar color de texto al pasar el mouse */
}
nav ul li a:hover::before {
  transform: scaleX(1); /* Mostrar línea subrayada al pasar el mouse */
}


h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/* fin del header y narbar, h1 y h2*/

/* inicio de secciones */
/*primera seccion*/

.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../imagenes/curso\ de\ tejidos.jpg);
  background-size: cover;
  background-position: center;

}

.wrap-texto {
  color: #000;
  text-align: center;
  width: 50%;
  font-size: 2.5rem;

}

/*fin de la primera seccion*/

/* inicio de  h3* y parrafo de quienes somos*/

h3 {
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


p {
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 50px;

}

/* fin de la seccion*/

/* inicio de footer*/

footer {

  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  color: white;
  padding: 20px 20px 20px 20px;
  align-items: center;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;

}
 
/* fin del footer*/

/* media screen y menu hamburguesa*/
.menu-toggle {
  display: none;
  /* Ocultar el botón hamburguesa por defecto en dispositivos grandes */
}

@media only screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
    /* Mostrar el botón hamburguesa en dispositivos móviles */
    cursor: pointer;
  }

  .nav-menu {
    display: none;
    /* Ocultar el menú desplegable por defecto en dispositivos móviles */
  }

  .hamburger {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }

  .hamburger:before,
  .hamburger:after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
}